<div class="space space-component14">
  <div class="space space-component2">
    <div class="space space-component">
      <h5 class="heading text-basic">Maintenance Planner</h5>
    </div>
    <div class="space space-component1">
      
    </div>
  </div>
  <div class="space space-component3">
    <div class="divider"></div>
  </div>
  <div class="space space-component13">
    <div class="space space-component10">
      <div class="space space-component6">
        <div class="space space-component4">
          <h6 class="heading1 text-basic">Date</h6>
        </div>
        <div class="space space-component5">
          <nb-icon class="icon hint" icon="close"></nb-icon>
        </div>
      </div>
      <div class="divider1"></div>
      <div class="space space-component7">
        <nb-calendar class="calendar size-xl-medium" startView="date" showNavigation></nb-calendar>
      </div>
      <div class="divider2"></div>
      <div class="space space-component8">
        <span class="text text-basic subtitle">Maintenance</span>
        <nb-checkbox class="checkbox" status="primary">Regular Inspection</nb-checkbox>
        <nb-checkbox class="checkbox1" status="warning">Unscheduled Inspection</nb-checkbox>
      </div>
      <div class="space space-component9">
        <span class="text1 text-basic subtitle">Workshops</span>
        <nb-checkbox class="checkbox2" status="primary">Workshop A</nb-checkbox>
        <nb-checkbox class="checkbox3" status="primary">Workshop B</nb-checkbox>
      </div>
    </div>
    <div class="space space-component12">
      <div class="space space-component11">
        <app-maintenance-timetable></app-maintenance-timetable>
      </div>
    </div>
  </div>
</div>