<div class="space space-component2">
  <div class="space space-component">
    <nb-select class="select size-xl-medium" placeholder="All Vehicles" status="basic">
      <nb-option value="All Vehicles">All Vehicles</nb-option>
      <nb-option *ngFor="let vehicle of this.vehicles" [value]="vehicle.name">{{vehicle.name}}</nb-option>
    </nb-select>
    <nb-select class="select1 size-xl-medium" placeholder="All Types" status="basic">
      <nb-option value="All Types">All Types</nb-option>
      <nb-option value="Truck">Truck</nb-option>
      <nb-option value="Van">Van</nb-option>
      <nb-option value="Car">Car</nb-option>
    </nb-select>
    <nb-select class="select2 size-xl-medium" placeholder="All Errors" status="basic">
      <nb-option value="All Errors">All Errors</nb-option>
      <nb-option value="Engine Error">Engine Error</nb-option>
      <nb-option value="Oil Level">Oil Level</nb-option>
    </nb-select>
  </div>
  <div class="space space-component1">
    <button nbButton class="button size-xl-medium" appearance="outline" status="basic">
      <nb-icon class="icon btn-icon" icon="close-outline"></nb-icon>
      <span>clear</span>
    </button>
  </div>
</div>
<div class="space space-component3">
  <div class="divider"></div>
</div>
<div class="space space-component6">
  <div class="space space-component4">
    <button nbButton class="button1 size-xl-medium" appearance="ghost" status="basic">
      <nb-icon class="icon btn-icon" icon="settings-2"></nb-icon>
      <span>Button</span>
    </button>
    <button nbButton class="button2 size-xl-medium" appearance="ghost" status="basic">
      <nb-icon class="icon btn-icon" icon="trash-2"></nb-icon>
      <span>Button</span>
    </button>
  </div>
  <div class="space space-component5">
    <label class="text text-hint label">Items on page</label>
    <nb-select class="select3 size-xl-medium" placeholder="20" status="basic">
      <nb-option value="10">10</nb-option>
      <nb-option value="20">20</nb-option>
      <nb-option value="30">30</nb-option>
      <nb-option value="40">40</nb-option>
      <nb-option value="50">50</nb-option>
    </nb-select>
    <button nbButton class="button3 size-xl-medium" appearance="filled" status="control">
      <nb-icon class="icon btn-icon" icon="chevron-left"></nb-icon>
      <span>Button</span>
    </button>
    <button nbButton class="button4 size-xl-medium" appearance="filled" status="control">
      <nb-icon class="icon btn-icon" icon="chevron-right"></nb-icon>
      <span>Button</span>
    </button>
  </div>
</div>
<div class="space space-component17">
  <div class="space space-component7">

  </div>
  <div class="space space-component10">
    <div class="space space-component8">

    </div>
    <div class="space space-component9">
      <label class="text1 text-hint label">VEHICLE</label>
    </div>
  </div>
  <div class="space space-component11">
    <label class="text2 text-hint label">TYPE</label>
  </div>
  <div class="space space-component12">
    <label class="text3 text-hint label">STATUS</label>
  </div>
  <div class="space space-component13">
    <label class="text4 text-hint label">HEALTH RATE</label>
  </div>
  <div class="space space-component14">
    <label class="text5 text-hint label">CRITICAL ERRORS</label>
  </div>
  <div class="space space-component15">

  </div>
  <div class="space space-component16">

  </div>
</div>
