<div class="space space-component5">
  <div class="space space-component2">
    <div class="space space-component">
      <h5 class="heading text-basic">History</h5>
    </div>
    <div class="space space-component1">
      <button nbButton class="button size-xl-medium" appearance="filled" status="primary" (click)="schedule()">
        <nb-icon class="icon btn-icon" icon="calendar-outline"></nb-icon>
        <span>schedule maintenance</span>
      </button>
    </div>
  </div>
  <div class="space space-component3">
    <div class="divider"></div>
  </div>
  <div class="space space-component4">
    <app-history-tabs></app-history-tabs>
  </div>
</div>