:host {

  width: calc(32% - 8px - 8px);
  height: auto;
  margin: 8px;
  display: block;

  .heading {
    margin: 0;
  }

  .space-component {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .text {
    margin: 0 4px 0 0;
  }

  .heading1 {
    margin: 0;
  }

  .space-component1 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component2 {
    height: 48px;
    width: 149px;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .divider {
    width: 1px;
    height: 52px;
    margin: 0 24px 0 12px;
    background-color: var(--bg-disabled-color);
  }

  .text1 {
    margin: 0 4px 0 0;
  }

  .heading2 {
    margin: 0;
  }

  .space-component3 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component4 {
    height: 48px;
    width: 149px;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component5 {
    margin-left: 24px;
    margin-top: 20px;
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .line-chart {
    width: 100%;
    height: 288px;
  }

  .space-component6 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

  .card {
    width: 100%;
    height: 100%;
    > nb-card-body {
      padding: 0;
    }
  }

}
