<nb-card class="card" >
  <nb-card-body>
    <div class="space space-component10">
      <div class="space space-component">
        <nb-checkbox class="checkbox" status="basic"></nb-checkbox>
      </div>
      <div class="space space-component1">
        <p class="text text-hint paragraph-2">#786473</p>
        <span class="text1 text-info subtitle-2">SCHEDULED</span>
      </div>
      <div class="space space-component4">
        <div class="space space-component2">
          <img class="image" src="./assets/images/Group@2x34.png">
        </div>
        <div class="space space-component3">
          <h6 class="heading text-basic">WO-12345</h6>
          <span class="text2 text-hint caption-2">TRUCK</span>
        </div>
      </div>
      <div class="space space-component5">
        <nb-icon class="icon hint" icon="person-outline"></nb-icon>
        <span class="text3 text-basic subtitle">John Doe</span>
      </div>
      <div class="space space-component6">
        <span class="text4 text-basic subtitle">11/17/20</span>
        <span class="text5 text-hint caption-2">6:00PM</span>
      </div>
      <div class="space space-component7">
        <span class="text6 text-basic subtitle">11/18/20</span>
        <span class="text7 text-hint caption-2">8:23PM</span>
      </div>
      <div class="space space-component8">
        <nb-icon class="icon1 hint" icon="clock-outline"></nb-icon>
        <span class="text8 text-basic subtitle">1d 2h 23 min</span>
      </div>
      <div class="space space-component9">
        <nb-icon class="icon2 hint" icon="more-vertical"></nb-icon>
      </div>
    </div>
  </nb-card-body>
</nb-card>