:host {

  width: 100%;
  height: 100%;
  display: block;

  .select {
    margin: 0 10px 0 0;
    width: 220px;
  }

  .select1 {
    margin: 0 10px 0 0;
    width: 220px;
  }

  .select2 {
    margin: 0 10px 0 0;
    width: 220px;
  }

  .space-component {
    height: 40px;
    width: 70%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0 5px 0 0;
    overflow: visible;
    background-color: unset;
  }

  .button {
    margin: 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0 .75rem 0 0;
    }

    span {
      display: inline;
    }

    > nb-icon {
      display: inline;
    }
  }

  .space-component1 {
    height: 40px;
    width: 30%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-end;
    overflow: visible;
    background-color: unset;
  }

  .space-component2 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 16px 0;
    overflow: visible;
    background-color: unset;
  }

  .divider {
    width: 100%;
    height: 1px;
    margin: 4px 0;
    background-color: var(--bg-disabled-color);
  }

  .space-component3 {
    height: 1px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

  .button1 {
    margin: 0 8px 0 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }

    span {
      display: none;
    }

    > nb-icon {
      display: inline;
    }
  }

  .button2 {
    margin: 0 8px 0 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }

    span {
      display: none;
    }

    > nb-icon {
      display: inline;
    }
  }

  .space-component4 {
    height: auto;
    min-height: 2rem;
    width: 30%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

  .text {
    margin: 0 10px 0 0;
  }

  .select3 {
    margin: 0 12px 0 0;
    width: 220px;
  }

  .button3 {
    margin: 0 6px 0 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }

    span {
      display: none;
    }

    > nb-icon {
      display: inline;
    }
  }

  .button4 {
    margin: 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }

    span {
      display: none;
    }

    > nb-icon {
      display: inline;
    }
  }

  .space-component5 {
    height: 40px;
    width: 70%;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    overflow: visible;
    background-color: unset;
  }

  .space-component6 {
    height: 70px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 12px 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component7 {
    height: 26px;
    width: 4.8%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component8 {
    height: 26px;
    width: 56px;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

  .text1 {
    margin: 0;
  }

  .space-component9 {
    height: 26px;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

  .space-component10 {
    height: auto;
    min-height: 2rem;
    width: 22.6%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .text2 {
    margin: 0;
  }

  .space-component11 {
    height: 26px;
    width: 11.8%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
  }

  .text3 {
    margin: 0;
  }

  .space-component12 {
    height: 26px;
    width: 17.3%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
  }

  .text4 {
    margin: 0;
  }

  .space-component13 {
    height: 26px;
    width: 13.8%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 20px;
    overflow: visible;
    background-color: unset;
  }

  .text5 {
    margin: 0;
  }

  .space-component14 {
    height: 26px;
    width: 13.8%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
  }

  .space-component15 {
    height: 26px;
    width: 11.9%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component16 {
    height: 26px;
    width: 4%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component17 {
    height: 26px;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

  .space-component18 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
    margin-top: 8px;
  }

  .space-component19 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

  .space-component20 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

  .space-component21 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
  }

  .select4 {
    margin: 0 10px 0 0;
    width: 220px;
  }

  .select5 {
    margin: 0 10px 0 0;
    width: 220px;
  }

  .select6 {
    margin: 0 10px 0 0;
    width: 220px;
  }

  .space-component22 {
    height: 40px;
    width: 70%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0 5px 0 0;
    overflow: visible;
    background-color: unset;
  }

  .button5 {
    margin: 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0 .75rem 0 0;
    }

    span {
      display: inline;
    }

    > nb-icon {
      display: inline;
    }
  }

  .space-component23 {
    height: 40px;
    width: 30%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-end;
    overflow: visible;
    background-color: unset;
  }

  .space-component24 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 16px 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component25 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .divider1 {
    width: 100%;
    height: 1px;
    margin: 4px 0;
    background-color: var(--bg-disabled-color);
  }

  .space-component26 {
    height: 1px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .button6 {
    margin: 0 8px 0 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }

    span {
      display: none;
    }

    > nb-icon {
      display: inline;
    }
  }

  .button7 {
    margin: 0 8px 0 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }

    span {
      display: none;
    }

    > nb-icon {
      display: inline;
    }
  }

  .space-component27 {
    height: auto;
    min-height: 2rem;
    width: 30%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

  .text6 {
    margin: 0 10px 0 0;
  }

  .select7 {
    margin: 0 12px 0 0;
    width: 220px;
  }

  .button8 {
    margin: 0 6px 0 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }

    span {
      display: none;
    }

    > nb-icon {
      display: inline;
    }
  }

  .button9 {
    margin: 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }

    span {
      display: none;
    }

    > nb-icon {
      display: inline;
    }
  }

  .space-component28 {
    height: 40px;
    width: 70%;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    overflow: visible;
    background-color: unset;
  }

  .space-component29 {
    height: 70px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 12px 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component30 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component31 {
    height: 26px;
    width: 4.8%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component32 {
    height: 26px;
    width: 56px;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

  .text7 {
    margin: 0;
  }

  .space-component33 {
    height: 26px;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

  .space-component34 {
    height: auto;
    min-height: 2rem;
    width: 22.6%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .text8 {
    margin: 0;
  }

  .space-component35 {
    height: 26px;
    width: 11.8%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
  }

  .text9 {
    margin: 0;
  }

  .space-component36 {
    height: 26px;
    width: 17.3%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
  }

  .text10 {
    margin: 0;
  }

  .space-component37 {
    height: 26px;
    width: 13.8%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 20px;
    overflow: visible;
    background-color: unset;
  }

  .text11 {
    margin: 0;
  }

  .space-component38 {
    height: 26px;
    width: 13.8%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
  }

  .space-component39 {
    height: 26px;
    width: 11.9%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component40 {
    height: 26px;
    width: 4%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component41 {
    height: 26px;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

  .space-component42 {
    height: 26px;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component43 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component44 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component45 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component46 {
    height: auto;
    min-height: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .select8 {
    margin: 0 10px 0 0;
    width: 220px;
  }

  .select9 {
    margin: 0 10px 0 0;
    width: 220px;
  }

  .select10 {
    margin: 0 10px 0 0;
    width: 220px;
  }

  .space-component47 {
    height: 40px;
    width: 70%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .button10 {
    margin: 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0 .75rem 0 0;
    }

    span {
      display: inline;
    }

    > nb-icon {
      display: inline;
    }
  }

  .space-component48 {
    height: 40px;
    width: 30%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-end;
    overflow: visible;
    background-color: unset;
  }

  .space-component49 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 16px 0;
    overflow: visible;
    background-color: unset;
  }

  .divider2 {
    width: 100%;
    height: 1px;
    margin: 4px 0;
    background-color: var(--bg-disabled-color);
  }

  .space-component50 {
    height: 1px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .button11 {
    margin: 0 8px 0 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }

    span {
      display: none;
    }

    > nb-icon {
      display: inline;
    }
  }

  .button12 {
    margin: 0 8px 0 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }

    span {
      display: none;
    }

    > nb-icon {
      display: inline;
    }
  }

  .space-component51 {
    height: auto;
    min-height: 2rem;
    width: 30%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

  .text12 {
    margin: 0 10px 0 0;
  }

  .select11 {
    margin: 0 12px 0 0;
    width: 220px;
  }

  .button13 {
    margin: 0 6px 0 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }

    span {
      display: none;
    }

    > nb-icon {
      display: inline;
    }
  }

  .button14 {
    margin: 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }

    span {
      display: none;
    }

    > nb-icon {
      display: inline;
    }
  }

  .space-component52 {
    height: 40px;
    width: 70%;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    overflow: visible;
    background-color: unset;
  }

  .space-component53 {
    height: 70px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 12px 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component54 {
    height: 26px;
    width: 4.8%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component55 {
    height: 26px;
    width: 56px;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

  .text13 {
    margin: 0;
  }

  .space-component56 {
    height: 26px;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

  .text14 {
    margin: 0;
  }

  .space-component57 {
    height: 26px;
    width: 11.8%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
  }

  .text15 {
    margin: 0;
  }

  .space-component58 {
    height: 26px;
    width: 17.3%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
  }

  .text16 {
    margin: 0;
  }

  .space-component59 {
    height: 26px;
    width: 13.8%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 20px;
    overflow: visible;
    background-color: unset;
  }

  .text17 {
    margin: 0;
  }

  .space-component60 {
    height: 26px;
    width: 13.8%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
  }

  .space-component61 {
    height: 26px;
    width: 11.9%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component62 {
    height: 26px;
    width: 4%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component63 {
    height: 26px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component64 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component65 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component66 {
    height: 1px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component67 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component68 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    overflow: visible;
    background-color: unset;
  }

  .select12 {
    margin: 0 10px 0 0;
    width: 220px;
  }

  .select13 {
    margin: 0 10px 0 0;
    width: 220px;
  }

  .select14 {
    margin: 0 10px 0 0;
    width: 220px;
  }

  .space-component69 {
    height: 40px;
    width: 70%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .button15 {
    margin: 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0 .75rem 0 0;
    }

    span {
      display: inline;
    }

    > nb-icon {
      display: inline;
    }
  }

  .space-component70 {
    height: 40px;
    width: 30%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-end;
    overflow: visible;
    background-color: unset;
  }

  .space-component71 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 16px 0;
    overflow: visible;
    background-color: unset;
  }

  .divider3 {
    width: 100%;
    height: 1px;
    margin: 0;
    background-color: var(--bg-disabled-color);
  }

  .space-component72 {
    height: 1px;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .button16 {
    margin: 0 8px 0 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }

    span {
      display: none;
    }

    > nb-icon {
      display: inline;
    }
  }

  .button17 {
    margin: 0 8px 0 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }

    span {
      display: none;
    }

    > nb-icon {
      display: inline;
    }
  }

  .space-component73 {
    height: auto;
    min-height: 2rem;
    width: 30%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

  .text18 {
    margin: 0 10px 0 0;
  }

  .select15 {
    margin: 0 12px 0 0;
    width: 220px;
  }

  .button18 {
    margin: 0 6px 0 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }

    span {
      display: none;
    }

    > nb-icon {
      display: inline;
    }
  }

  .button19 {
    margin: 0;
    width: auto;
    flex-direction: row;
    > nb-icon.btn-icon.icon {
      margin: 0;
    }

    span {
      display: none;
    }

    > nb-icon {
      display: inline;
    }
  }

  .space-component74 {
    height: 40px;
    width: 70%;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    overflow: visible;
    background-color: unset;
  }

  .space-component75 {
    height: 70px;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding: 12px 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component76 {
    height: 26px;
    width: 4.8%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component77 {
    height: 26px;
    width: 56px;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

  .text19 {
    margin: 0;
  }

  .space-component78 {
    height: 26px;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

  .text20 {
    margin: 0;
  }

  .space-component79 {
    height: 26px;
    width: 11.8%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
  }

  .text21 {
    margin: 0;
  }

  .space-component80 {
    height: 26px;
    width: 17.3%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
  }

  .text22 {
    margin: 0;
  }

  .space-component81 {
    height: 26px;
    width: 13.8%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 20px;
    overflow: visible;
    background-color: unset;
  }

  .text23 {
    margin: 0;
  }

  .space-component82 {
    height: 26px;
    width: 13.8%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
  }

  .space-component83 {
    height: 26px;
    width: 11.9%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component84 {
    height: 26px;
    width: 4%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component85 {
    height: 26px;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component86 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component87 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .space-component88 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    overflow: visible;
    background-color: unset;
  }

  .tabs {
    width: 100%;
    height: 100%;
  }

}
