<div class="space space-component13">
  <div class="space space-component9" *ngIf="showList">
    <div class="space space-component2">
      <div class="space space-component">
        <h6 class="heading text-basic">Active Vehicles</h6>
      </div>
      <div class="space space-component1">
        <nb-icon class="icon hint" icon="close" (click)="listClose()"></nb-icon>
      </div>
    </div>
    <div class="space space-component3">
      <div class="divider"></div>
    </div>
    <div class="space space-component6">
      <div class="space space-component4">
        <input nbInput class="input size-xl-medium" placeholder="Enter Value" type="text" shape="rectangle" status="basic">
      </div>
      <div class="space space-component5">
        <button nbButton class="button size-xl-medium" appearance="ghost" status="basic">
          <nb-icon class="icon btn-icon" icon="options-2"></nb-icon>
          <span>Button</span>
        </button>
      </div>
    </div>
    <div class="space space-component7">
      <div class="divider1"></div>
    </div>
    <div class="space space-component8">
      <vehicle-tabs (vehicleClicked)="handleVehicleClick()"
                    (tripButtonClicked)="handleTripButtonClick()"></vehicle-tabs>
    </div>
  </div>
  <div class="divider2" *ngIf="showDetails"></div>
  <trip-details *ngIf="showDetails"
                (close)="detailsClose()"

                ></trip-details>
  <div class="divider3"></div>
  <div class="space space-component12">
    <div class="space space-component10">
      <app-indicators [vehiclesButtonVisible]="!showList"
                      [indicatorsButtonVisible]="!showIndicators"
                      (listClicked)="listShow()"
                      (settingsClicked)="indicatorsShow()"></app-indicators>
    </div>
    <div class="space space-component11">
      <app-map [data]="data" class="map"></app-map>
    </div>
  </div>
  <div class="space indicators" *ngIf="showIndicators">
    <div class="space indicators-header">
      <div class="space indicators-header-text">
        <h6 class="heading text-basic">Indicators</h6>
      </div>
      <div class="space indicators-close">
        <nb-icon class="icon hint" icon="close" (click)="indicatorsClose()"></nb-icon>
      </div>
    </div>
    <app-indicators-list></app-indicators-list>
  </div>
</div>
