:host {

  width: calc(50% - 16px);
  height: 100%;
  margin: 0 16px 0 0;
  display: block;

  .space-component {
    height: 90px;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .divider {
    width: 100%;
    height: 1px;
    margin: 0;
    background-color: var(--bg-disabled-color);
  }

  .image {
    width: 30px;
    height: 30px;
    border-radius: 0;
    object-fit: fill;
  }

  .space-component1 {
    height: 46px;
    width: 46px;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0;
    overflow: visible;
    background-color: #FEF3F2;
  }

  .text {
    margin: 0 4px 0 0;
  }

  .text1 {
    margin: 0 4px 0 0;
  }

  .space-component2 {
    height: 46px;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
  }

  .space-component3 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 16px 24px 12px 24px;
    overflow: visible;
    background-color: unset;
  }

  .text2 {
    margin: 0 4px 0 0;
  }

  .text3 {
    margin: 0 4px 0 0;
  }

  .space-component5 {
    height: 46px;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
  }

  .text4 {
    margin: 0 4px 0 0;
  }

  .text5 {
    margin: 0 4px 0 0;
  }

  .space-component8 {
    height: 46px;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0 0 0 16px;
    overflow: visible;
    background-color: unset;
  }

  .space-component10 {
    height: 100%;
    flex-grow: 1;
    flex-basis: 0;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;
    padding: 0;
    overflow: visible;
    background-color: unset;
  }

  .heading {
    margin: 0;
  }

  .space-component11 {
    height: auto;
    min-height: 2rem;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: left;
    overflow: visible;
    background-color: unset;
  }

  .card {
    width: 100%;
    height: 100%;

    > nb-card-body {
      padding: 0;
    }

    > nb-card-footer {
      padding: 0;
    }
  }

}
