<nb-card class="card" >
  <nb-card-header>
    <div class="space space-component11">
      <h6 class="heading text-basic">Maintenance</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space-component10">
      <div class="space space-component">
        <overdue></overdue>
        <due-soon></due-soon>
      </div>
      <div class="divider"></div>
      <div class="space space-component3">
        <div class="space space-component1">
          <img class="image" src="./assets/images/brake@3x-red.svg">
        </div>
        <div class="space space-component2">
          <span class="text text-basic subtitle-2">Brakes Repair</span>
          <p class="text1 text-hint paragraph-2">2 month overdue</p>
        </div>
      </div>
      <div class="divider"></div>
      <div class="space space-component3">
        <div class="space space-component1">
          <img class="image" src="./assets/images/filter@3x-red.svg">
        </div>
        <div class="space space-component5">
          <span class="text2 text-basic subtitle-2">Filter Replacement</span>
          <p class="text3 text-hint paragraph-2">1 month overdue</p>
        </div>
      </div>
      <div class="divider"></div>
      <div class="space space-component3">
        <div class="space space-component1">
          <img class="image" src="./assets/images/lift@3x-red.svg">
        </div>
        <div class="space space-component8">
          <span class="text4 text-basic subtitle-2">Planned Inspection</span>
          <p class="text5 text-hint paragraph-2">4 month overdue</p>
        </div>
      </div>
      <div class="divider"></div>
      <div class="space space-component3">
        <div class="space space-component1">
          <img class="image" src="./assets/images/tire@3x-red.svg">
        </div>
        <div class="space space-component8">
          <span class="text4 text-basic subtitle-2">Rotate Tires</span>
          <p class="text5 text-hint paragraph-2">3 month overdue</p>
        </div>
      </div>
      <div class="divider"></div>
    </div>
  </nb-card-body>
</nb-card>
