<nb-card class="card" >
  <nb-card-header>
    <div class="space space-component">
      <h6 class="heading text-basic">Expenses</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space-component14">
      <app-doughnut-chart class="doughnut-chart" [data]="data"></app-doughnut-chart>
      <div class="space space-component13">
        <div class="space space-component3">
          <div class="divider divider-maintenance"></div>
          <div class="space space-component2">
            <span class="text text-basic subtitle-2">Maintenance</span>
            <div class="space space-component1">
              <span class="text1 text-hint caption-2">$30,000</span>
              <div class="divider7"></div>
              <span class="text2 text-hint caption">30%</span>
            </div>
          </div>
        </div>
        <div class="space space-component3">
          <div class="divider divider-labour"></div>
          <div class="space space-component2">
            <span class="text3 text-basic subtitle-2">Labour Cost</span>
            <div class="space space-component4">
              <span class="text4 text-hint caption-2">$25,000</span>
              <div class="divider7"></div>
              <span class="text2 text-hint caption">25%</span>
            </div>
          </div>
        </div>
        <div class="space space-component3">
          <div class="divider divider-fuel"></div>
          <div class="space space-component2">
            <span class="text6 text-basic subtitle-2">Fuel</span>
            <div class="space space-component7">
              <span class="text7 text-hint caption-2">$15,000</span>
              <div class="divider7"></div>
              <span class="text2 text-hint caption">15%</span>
            </div>
          </div>
        </div>
        <div class="space space-component3">
          <div class="divider divider-other"></div>
          <div class="space space-component2">
            <span class="text9 text-basic subtitle-2">Other</span>
            <div class="space space-component10">
              <span class="text10 text-hint caption-2">$32,000</span>
              <div class="divider7"></div>
              <span class="text2 text-hint caption">32%</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
