<div class="space space-component3">
  <div class="space space-component2">
    <div class="space space-component">
      <nb-select class="select size-xl-medium" placeholder="All Vehicles" status="basic">
        <nb-option value="All Vehicles">All Vehicles</nb-option>
        <nb-option value="Vehicle 1">Vehicle 1</nb-option>
        <nb-option value="Vehicle 2">Vehicle 2</nb-option>
      </nb-select>

      <input [nbDatepicker]="datepicker3" nbInput class="datepicker size-xl-medium" placeholder="Enter Date" shape="rectangle" status="basic">
      <nb-datepicker #datepicker3>
      </nb-datepicker>

    </div>

    <div class="space space-component1">
      <button (click)="openDialog()" nbButton class="button size-xl-medium" appearance="filled" status="basic">
        <nb-icon class="icon btn-icon" icon="person-outline"></nb-icon>
        <span>assign</span>
      </button>
    </div>
  </div>
</div>
<div class="space space-component4">
  <div class="divider"></div>
</div>
<div class="space space-component15">
  <div class="space space-component14">
    <div class="space space-component5">

    </div>
    <div class="space space-component8">
      <div class="space space-component6">

      </div>
      <div class="space space-component7">
        <label class="text text-hint label">VEHICLE</label>
      </div>
    </div>
    <div class="space space-component9">
      <label class="text1 text-hint label">TYPE</label>
    </div>
    <div class="space space-component10">
      <label class="text2 text-hint label">DRIVER</label>
    </div>
    <div class="space space-component11">
      <label class="text3 text-hint label">DATES</label>
    </div>
    <div class="space space-component12">

    </div>
    <div class="space space-component13">

    </div>
  </div>
</div>
