<table class="table border">
  <thead>
    <th class="column1">
      <div class="space space-component6">
        <p class="text text-basic paragraph-2">Name</p>
      </div>
    </th>
    <th>
      <div class="space space-component7">
        <p class="text1 text-basic paragraph">Type something</p>
      </div>
    </th>
  </thead>
  <tbody>
    <tr>
      <td class="slot">
        <div class="space space-component6">
          <p class="text2 text-basic paragraph-2">Year</p>
        </div>
      </td>
      <td class="slot">
        <div class="space space-component7">
          <p class="text3 text-basic paragraph">2015</p>
        </div>
      </td>
    </tr>
    <tr>
      <td class="slot">
        <div class="space space-component6">
          <p class="text4 text-basic paragraph-2">Model</p>
        </div>
      </td>
      <td class="slot">
        <div class="space space-component7">
          <p class="text5 text-basic paragraph">Crafter</p>
        </div>
      </td>
    </tr>
    <tr>
      <td class="slot">
        <div class="space space-component6">
          <p class="text6 text-basic paragraph-2">Odometer</p>
        </div>
      </td>
      <td class="slot">
        <div class="space space-component7">
          <p class="text7 text-basic paragraph">20.999m</p>
        </div>
      </td>
    </tr>
    <tr>
      <td class="slot">
        <div class="space space-component6">
          <p class="text6 text-basic paragraph-2">Color</p>
        </div>
      </td>
      <td class="slot">
        <div class="space space-component7">
          <p class="text7 text-basic paragraph">Silver</p>
        </div>
      </td>
    </tr>
    <tr>
      <td class="slot">
        <div class="space space-component6">
          <p class="text6 text-basic paragraph-2">Vin</p>
        </div>
      </td>
      <td class="slot">
        <div class="space space-component7">
          <p class="text7 text-basic paragraph">1G1ZT51806F128009</p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
