<nb-card class="card" >
  <nb-card-body>
    <div class="space space-component22">
      <div class="space space-component10">
        <div class="space space-component4">
          <div class="space space-component2">
            <div class="space space-component">
              <img class="image" src="./assets/images/gas@3x-red.svg">
            </div>
            <div class="space space-component1">
              <h5 class="heading text-danger">5</h5>
              <span class="text text-hint caption-2">Vehicles</span>
            </div>
          </div>
          <div class="space space-component3">
            <p class="text1 text-basic">Fuel Consumption</p>
            <span class="text2 text-hint caption">&gt; 6.11 MPG</span>
          </div>
        </div>
        <div class="divider"></div>
        <div class="space space-component9">
          <div class="space space-component7">
            <div class="space space-component5">
              <img class="image" src="./assets/images/speed@3x-red.svg">
            </div>
            <div class="space space-component6">
              <h5 class="heading1 text-danger">3</h5>
              <span class="text3 text-hint caption-2">Vehicles</span>
            </div>
          </div>
          <div class="space space-component8">
            <p class="text4 text-basic">Speed</p>
            <span class="text5 text-hint caption">&gt; 71 MPH</span>
          </div>
        </div>
      </div>
      <div class="divider1"></div>
      <div class="space space-component21">
        <div class="space space-component15">
          <div class="space space-component13">
            <div class="space space-component11">
              <img class="image" src="./assets/images/filter@3x-red.svg">
            </div>
            <div class="space space-component12">
              <h5 class="heading2 text-danger">10</h5>
              <span class="text6 text-hint caption-2">Vehicles</span>
            </div>
          </div>
          <div class="space space-component14">
            <p class="text7 text-basic">CO2 Emission</p>
            <span class="text8 text-hint caption">&gt; 720g/mi</span>
          </div>
        </div>
        <div class="divider2"></div>
        <div class="space space-component20">
          <div class="space space-component18">
            <div class="space space-component16">
              <img class="image" src="./assets/images/motor@3x-red.svg">
            </div>
            <div class="space space-component17">
              <h5 class="heading3 text-danger">1</h5>
              <span class="text9 text-hint caption-2">Vehicles</span>
            </div>
          </div>
          <div class="space space-component19">
            <p class="text10 text-basic">Oil Temperature</p>
            <span class="text11 text-hint caption">&gt; 120C</span>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>