<div class="space space-component8">
  <div class="space space-component2">
    <div class="space space-component">
      <a href="/Vehicles/Vehicles-List1"  class="link text-primary">Back to All Vehicles</a>
    </div>
    <div class="space space-component1">
      <button nbButton class="button size-xl-medium" appearance="filled" status="basic">
        <nb-icon class="icon btn-icon" icon="star"></nb-icon>
        <span>events</span>
      </button>
      <button nbButton class="button1 size-xl-medium" appearance="filled" status="primary">
        <nb-icon class="icon btn-icon" icon="plus"></nb-icon>
        <span>add vehicle</span>
      </button>
    </div>
  </div>
  <div class="divider"></div>
  <div class="space space-component7">
    <div class="space space-component4">
      <common-information></common-information>
      <div class="space space-component3">
        <vehicle-condition></vehicle-condition>
        <key-indicators></key-indicators>
      </div>
    </div>
    <div class="space space-component6">
      <details-card></details-card>
      <div class="space space-component5">
        <maintenance></maintenance>
        <trip></trip>
      </div>
    </div>
  </div>
</div>
