<nb-layout withScroll [class.header-hidden]="!(layout$ | async)?.header">

  <nb-layout-header *ngIf="(layout$ | async)?.header" class="header" fixed>
    <div class="space space-component8">
      <div class="space space-component">
        <h5 class="heading text-alternate">FleetNext</h5>
      </div>
      <div class="space space-component7">
        <div class="space space-component1">
          <div class="divider"></div>
          <nb-icon class="icon alternate large hamburger-icon" icon="menu" (click)="toggleSidebar()"></nb-icon>
          <div class="divider"></div>
        </div>
        <div class="space space-component6">
          <div class="space space-component2">
            <div class="divider"></div>
          </div>
          <div class="space space-component3">
            <img class="image" src="https://media.licdn.com/dms/image/C4D03AQE-yXo0opizzA/profile-displayphoto-shrink_800_800/0/1662145935916?e=1701907200&v=beta&t=NGrwY8zATIe6FjN9BWZT6stRTke87NnW57Ah_l12VEg">
          </div>
          <div class="space space-component4">
            <span class="text text-alternate caption">User Name</span>
            <span class="text1 text-alternate subtitle-2">shahbaz.atta@gmail.com</span>
          </div>
          <div class="space space-component5">
            <nb-icon class="icon1 alternate" icon="arrow-ios-downward"></nb-icon>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar *ngIf="(layout$ | async)?.sidebar" class="sidebar" responsive [collapsedBreakpoints]="['xs', 'is', 'sm']" [compactedBreakpoints]="[]">
    <nb-menu class="menu" [items]="items"></nb-menu>
  </nb-sidebar>

  <nb-layout-column [style.padding]="padding$ | async">
    <router-outlet></router-outlet>
  </nb-layout-column>

</nb-layout>
