<nb-card class="card" >
  <nb-card-header>
    <div class="space space-component">
      <h6 class="heading text-basic">Details</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space-component21">
      <div class="space space-component15">
        <div class="space space-component7">
          <div class="space space-component3">
            <div class="space space-component1">
              <nb-icon class="icon hint small" icon="calendar-outline"></nb-icon>
              <span class="text text-hint caption">Start Date</span>
            </div>
            <div class="space space-component2">
              <span class="text1 text-basic subtitle-2">May 14 / 10:35 AM</span>
            </div>
          </div>
          <div class="space space-component6">
            <div class="space space-component4">
              <nb-icon class="icon1 hint small" icon="calendar-outline"></nb-icon>
              <span class="text2 text-hint caption">End Date</span>
            </div>
            <div class="space space-component5">
              <span class="text3 text-basic subtitle-2">May 14 / 10:35 AM</span>
            </div>
          </div>
        </div>
        <div class="space space-component14">
          <div class="space space-component10">
            <div class="space space-component8">
              <nb-icon class="icon2 hint small" icon="car-outline"></nb-icon>
              <span class="text4 text-hint caption">Distance Covered</span>
            </div>
            <div class="space space-component9">
              <span class="text5 text-basic subtitle-2">1,535 mi</span>
            </div>
          </div>
          <div class="space space-component13">
            <div class="space space-component11">
              <nb-icon class="icon3 hint small" icon="person-outline"></nb-icon>
              <span class="text6 text-hint caption">Driver</span>
            </div>
            <div class="space space-component12">
              <span class="text7 text-basic subtitle-2">John Doe</span>
            </div>
          </div>
        </div>
      </div>
      <div class="space space-component20">
        <div class="space space-component16">
          <app-avg-fule-cons></app-avg-fule-cons>
        </div>
        <div class="space space-component17">
          <app-avg-speed></app-avg-speed>
        </div>
        <div class="space space-component18">
          <app-avg-fule-cons></app-avg-fule-cons>
        </div>
        <div class="space space-component19">
          <app-avg-speed></app-avg-speed>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>