<nb-card class="card" >
  <nb-card-body>
    <div class="space space-component3">
      <div class="space space-component2">
        <span class="text text-warning caption-2">Satisfactory</span>
        <div class="space space-component">
          <div echarts [options]="options" class="echart" (chartInit)="onChartInit($event)"></div>
        </div>
        <div class="divider"></div>
        <div class="space space-component1">
          <h6 class="heading text-basic">14</h6>
          <span class="text1 text-hint caption-2">Vehicles</span>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>