<nb-list class="list">
  <nb-list-item class="slot">
    <div class="space space-component">
      <nb-checkbox class="checkbox" status="primary" [checked]="true">Errors vehicles</nb-checkbox>
    </div>
  </nb-list-item>

  <nb-list-item class="slot">
    <div class="space space-component1">
      <nb-checkbox class="checkbox1" status="primary" [checked]="true">Warning vehicles</nb-checkbox>
    </div>
  </nb-list-item>

  <nb-list-item class="slot">
    <div class="space space-component2">
      <nb-checkbox class="checkbox2" status="primary" [checked]="true">Side Trip</nb-checkbox>
    </div>
  </nb-list-item>

  <nb-list-item class="slot">
    <div class="space space-component3">
      <nb-checkbox class="checkbox3" status="primary" [checked]="true">Being Late</nb-checkbox>
    </div>
  </nb-list-item>

  <nb-list-item class="slot">
    <div class="space space-component4">
      <nb-checkbox class="checkbox4" status="primary">Late Delivery</nb-checkbox>
    </div>
  </nb-list-item>

  <nb-list-item class="slot">
    <div class="space space-component4">
      <nb-checkbox class="checkbox4" status="primary">Accidens</nb-checkbox>
    </div>
  </nb-list-item>

  <nb-list-item class="slot">
    <div class="space space-component4">
      <nb-checkbox class="checkbox4" status="primary">High Consumption</nb-checkbox>
    </div>
  </nb-list-item>
</nb-list>