<nb-card class="card" >
  <nb-card-body>
    <div class="space space-component22">
      <div class="space space-component">
        <h6 class="heading text-basic">Trips</h6>
        <p class="text text-hint paragraph-2">24 hours Trips Data</p>
      </div>
      <div class="space space-component21">
        <div class="space space-component4">
          <div class="space space-component1">
            <nb-icon class="icon small" icon="radio"></nb-icon>
            <span class="text1 text-hint subtitle-2">Live Trips</span>
          </div>
          <div class="space space-component3">
            <div class="space space-component2">
              <span class="text2 text-basic subtitle">156</span>
            </div>
            <nb-icon class="icon1 hint" icon="chevron-right"></nb-icon>
          </div>
          <div class="divider"></div>
        </div>
        <div class="space space-component8">
          <div class="space space-component5">
            <nb-icon class="icon2 info small" icon="radio"></nb-icon>
            <span class="text3 text-hint subtitle-2">Scheduled</span>
          </div>
          <div class="space space-component7">
            <div class="space space-component6">
              <span class="text4 text-basic subtitle">158</span>
            </div>
            <nb-icon class="icon3 hint" icon="chevron-right"></nb-icon>
          </div>
          <div class="divider1"></div>
        </div>
        <div class="space space-component12">
          <div class="space space-component9">
            <nb-icon class="icon4 success small" icon="radio"></nb-icon>
            <span class="text5 text-hint subtitle-2">Completed</span>
          </div>
          <div class="space space-component11">
            <div class="space space-component10">
              <span class="text6 text-basic subtitle">256</span>
            </div>
            <nb-icon class="icon5 hint" icon="chevron-right"></nb-icon>
          </div>
          <div class="divider2"></div>
        </div>
        <div class="space space-component16">
          <div class="space space-component13">
            <nb-icon class="icon6 warning small" icon="radio"></nb-icon>
            <span class="text7 text-hint subtitle-2">Being Late</span>
          </div>
          <div class="space space-component15">
            <div class="space space-component14">
              <span class="text8 text-basic subtitle">15</span>
            </div>
            <nb-icon class="icon7 hint" icon="chevron-right"></nb-icon>
          </div>
          <div class="divider3"></div>
        </div>
        <div class="space space-component20">
          <div class="space space-component17">
            <nb-icon class="icon8 danger small" icon="radio"></nb-icon>
            <span class="text9 text-hint subtitle-2">Failed</span>
          </div>
          <div class="space space-component19">
            <div class="space space-component18">
              <span class="text10 text-basic subtitle">2</span>
            </div>
            <nb-icon class="icon9 hint" icon="chevron-right"></nb-icon>
          </div>
          <div class="divider4"></div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>