<nb-card class="card" >
  <nb-card-header>
    <div class="space space-component">
      <h6 class="heading text-basic">Route Details</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space-component24">
      <div class="space space-component3">
        <div class="space space-component1">
          <app-duration></app-duration>
        </div>
        <div class="space space-component2">
          <app-idle></app-idle>
        </div>
      </div>
      <div class="space space-component20">
        <div class="space space-component6">
          <div class="space space-component4">
            <nb-icon class="icon primary" icon="pin"></nb-icon>
          </div>
          <div class="space space-component5">
            <label class="text text-hint label">DEPARTURE</label>
            <span class="text1 text-basic subtitle">Blvd Ne, Albuquerque, NM</span>
            <span class="text2 text-hint caption">May 14, 4:00 PM</span>
          </div>
        </div>
        <div class="space space-component13">
          <div class="space space-component7">
            <nb-icon class="icon1 danger" icon="pin"></nb-icon>
          </div>
          <div class="space space-component12">
            <div class="space space-component10">
              <div class="space space-component8">
                <label class="text3 text-hint label">STOP</label>
              </div>
              <div class="space space-component9">
                <nb-icon class="icon2 danger small" icon="alert-triangle"></nb-icon>
                <span class="text4 text-danger caption">Long Idle Time</span>
              </div>
            </div>
            <div class="space space-component11">
              <span class="text5 text-basic subtitle">706 NW 3rd St, Homestead, FL</span>
              <span class="text6 text-hint caption">May 14, 6:00 PM</span>
            </div>
          </div>
        </div>
        <div class="space space-component16">
          <div class="space space-component14">
            <nb-icon class="icon3 warning" icon="pin"></nb-icon>
          </div>
          <div class="space space-component15">
            <label class="text7 text-hint label">STOP</label>
            <span class="text8 text-basic subtitle">330 Solitude Dr, Thayne, WY</span>
            <span class="text9 text-hint caption">May 14, 8:00 PM</span>
          </div>
        </div>
        <div class="space space-component19">
          <div class="space space-component17">
            <nb-icon class="icon4 primary" icon="pin"></nb-icon>
          </div>
          <div class="space space-component18">
            <label class="text10 text-hint label">STOP</label>
            <span class="text11 text-basic subtitle">1430 Albert St, Airway Heights, WA</span>
            <span class="text12 text-hint caption">May 13, 9:00 PM</span>
          </div>
        </div>
      </div>
      <div class="space space-component23">
        <div class="space space-component21">
          <nb-icon class="icon5 primary" icon="pin"></nb-icon>
        </div>
        <div class="space space-component22">
          <label class="text13 text-hint label">ARRIVAL</label>
          <span class="text14 text-basic subtitle">5936 1575 North Ave, Princeton, IL</span>
          <span class="text15 text-hint caption">May 14, 11:00 PM</span>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>