<nb-card class="card" >
  <nb-card-body>
    <div class="space space-component24">
      <div class="space space-component">
        <h6 class="heading text-basic">Warnings</h6>
        <p class="text text-hint paragraph-2">Driving Policy Violations</p>
      </div>
      <div class="space space-component23">
        <div class="space space-component17">
          <div class="space space-component4">
            <div class="space space-component1">
              <nb-icon class="icon success small" icon="pin"></nb-icon>
              <span class="text1 text-hint subtitle-1">Driving</span>
            </div>
            <div class="space space-component3">
              <div class="space space-component2">
                <span class="text2 text-danger subtitle">2</span>
              </div>
              <nb-icon class="icon1 danger small" icon="chevron-right"></nb-icon>
            </div>
          </div>
          <div class="space space-component8">
            <div class="space space-component5">
              <nb-icon class="icon2 warning small" icon="pin"></nb-icon>
              <span class="text3 text-hint subtitle-1">Parked</span>
            </div>
            <div class="space space-component7">
              <div class="space space-component6">
                <span class="text4 text-danger subtitle">1</span>
              </div>
              <nb-icon class="icon3 hint small" icon="chevron-right"></nb-icon>
            </div>
          </div>
          <div class="space space-component12">
            <div class="space space-component9">
              <nb-icon class="icon4 warning small" icon="pin"></nb-icon>
              <span class="text5 text-hint subtitle-1">Idling</span>
            </div>
            <div class="space space-component11">
              <div class="space space-component10">
                <span class="text6 subtitle">0</span>
              </div>
              <nb-icon class="icon5 hint small" icon="chevron-right"></nb-icon>
            </div>
          </div>
          <div class="space space-component16">
            <div class="space space-component13">
              <nb-icon class="icon6 danger small" icon="pin"></nb-icon>
              <span class="text7 text-hint subtitle-1">Broken</span>
            </div>
            <div class="space space-component15">
              <div class="space space-component14">
                <span class="text8 text-danger subtitle">3</span>
              </div>
              <nb-icon class="icon7 hint small" icon="chevron-right"></nb-icon>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="space space-component22">
          <div class="space space-component19">
            <div class="space space-component18">
              <p class="text9 text-danger paragraph-2">Driving Time Exceeded</p>
              <span class="text10 text-danger caption">WO-13245</span>
            </div>
            <span class="text11 text-danger caption">&gt; 2 hours</span>
          </div>
          <div class="space space-component21">
            <div class="space space-component20">
              <p class="text12 text-danger paragraph-2">Driving Time Exceeded</p>
              <span class="text13 text-danger caption">WO-13245</span>
            </div>
            <span class="text14 text-danger caption">&gt; 2 hours</span>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>