<nb-card class="card" >
  <nb-card-body>
    <div class="space space-component13">
      <div class="space space-component">
        <h6 class="heading text-basic">Trips Performance</h6>
      </div>
      <div class="space space-component12">
        <div class="space space-component11">
          <div class="space space-component3">
            <div class="space space-component1">
              <span class="text2 text-basic subtitle">158</span>
              <span class="text1 text-hint caption">Planned for today</span>
            </div>
            <div class="space space-component2">
              <span class="text2 text-basic subtitle">23</span>
              <span class="text1 text-hint caption">left</span>
            </div>
          </div>
          <div class="space space-component4">
            <div class="space live-trips"></div>
            <div class="space completed-trips"></div>
            <div class="space late-trips"></div>
            <div class="space failed-trips"></div>
            <div class="space other-trips"></div>
          </div>
          <div class="space space-component7">
            <div class="space space-component5">
              <span class="text3 text-primary subtitle-2">40% / 158</span>
              <span class="text4 text-hint caption">Live Trips</span>
            </div>
            <div class="space space-component6">
              <span class="text5 text-success subtitle-2">20% / 158</span>
              <span class="text6 text-hint caption">Completed</span>
            </div>
          </div>
          <div class="space space-component10">
            <div class="space space-component8">
              <span class="text7 text-warning subtitle-2">10% / 158</span>
              <span class="text8 text-hint caption">Being Late</span>
            </div>
            <div class="space space-component9">
              <span class="text9 text-danger subtitle-2">5% / 158</span>
              <span class="text10 text-hint caption">Failed</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>