@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';

$nb-themes: nb-register-theme((

  header-height: 56px,
  header-padding: 0,
  header-background-color: color-primary-default,
  sidebar-width: 256px,
  sidebar-padding: 16px,
  sidebar-background-color: background-basic-color-1,

  border-radius: 0.25rem,
  bg-default-color: color-basic-100,
  bg-disabled-color: color-basic-400,
  card-disabled-header-border-color: color-basic-500,
  card-disabled-footer-border-color: color-basic-500,
  table-disabled-border-color: color-basic-500,
  bg-hint-color: color-basic-200,
  card-hint-header-border-color: color-basic-300,
  card-hint-footer-border-color: color-basic-300,
  table-hint-border-color: color-basic-400,
  table-border-color: color-basic-500,
  shadow: 0 0.5rem 1rem 0 rgba(94, 105, 127, 0.1),

  input-tiny-max-width: 100%,
  input-small-max-width: 100%,
  input-medium-max-width: 100%,
  input-large-max-width: 100%,
  input-giant-max-width: 100%,
  select-tiny-max-width: 100%,
  select-small-max-width: 100%,
  select-medium-max-width: 100%,
  select-large-max-width: 100%,
  select-giant-max-width: 100%,
  color-basic-100: #FBFDFF,
  color-basic-200: #F3F6F9,
  color-basic-300: #E7EDF4,
  color-basic-400: #CDD5DE,
  color-basic-500: #ACB3BE,
  color-basic-600: #818894,
  color-basic-700: #5E697F,
  color-basic-800: #414D6A,
  color-basic-900: #293455,
  color-basic-1000: #182247,
  color-basic-1100: #0F1532,

  color-primary-100: #CCF9DF,
  color-primary-200: #9BF3C9,
  color-primary-300: #64DBAE,
  color-primary-400: #3BB894,
  color-primary-500: #0D8A72,
  color-primary-600: #09766C,
  color-primary-700: #066363,
  color-primary-800: #044950,
  color-primary-900: #023642,

  color-info-100: #D0F8FD,
  color-info-200: #A1EDFC,
  color-info-300: #72D8F6,
  color-info-400: #4EBFEE,
  color-info-500: #189be3,
  color-info-600: #1179C3,
  color-info-700: #0C5AA3,
  color-info-800: #074083,
  color-info-900: #042D6C,

  color-success-100: #D8FBDD,
  color-success-200: #B2F8C3,
  color-success-300: #87EAA9,
  color-success-400: #64D697,
  color-success-500: #37bc7f,
  color-success-600: #28A176,
  color-success-700: #1B876B,
  color-success-800: #116D5E,
  color-success-900: #0A5A55,

  color-warning-100: #FFF6DB,
  color-warning-200: #FFEBB7,
  color-warning-300: #FFDD94,
  color-warning-400: #FFCF79,
  color-warning-500: #ffb94d,
  color-warning-600: #DB9438,
  color-warning-700: #B77326,
  color-warning-800: #935418,
  color-warning-900: #7A3E0E,

  color-danger-100: #FEEBDD,
  color-danger-200: #FDD2BB,
  color-danger-300: #FAB298,
  color-danger-400: #F5937E,
  color-danger-500: #ef6454,
  color-danger-600: #CD403D,
  color-danger-700: #AC2A31,
  color-danger-800: #8A1A2A,
  color-danger-900: #721025,

  
  card-margin-bottom: 0,
  outline-width: 0,
  
), light, default);

