<nb-card class="card" >
  <nb-card-body>
    <div class="space space-component2">
      <div class="space space-component">
        <img class="image" src="./assets/images/motor@3x-green.svg">
<!--        <object type="image/svg+xml" id="image" data="./assets/images/motor@3x.svg"></object>-->

      </div>
      <div class="space space-component1">
        <h6 class="heading text-basic">Ok</h6>
        <p class="text text-hint paragraph">Engine</p>
      </div>
    </div>
  </nb-card-body>
</nb-card>
