<nb-card class="card" >
  <nb-card-header>
    <div class="space space-component">
      <h6 class="heading text-basic">Events</h6>
    </div>
  </nb-card-header>

  <nb-card-body>
    <div class="space space-component16">
      <div class="space space-component3">
        <div class="space space-component1">
          <app-errors></app-errors>
        </div>
        <div class="space space-component2">
          <app-warnings></app-warnings>
        </div>
      </div>
      <div class="space space-component6">
        <div class="space space-component4">
          <nb-icon class="icon danger" icon="alert-triangle"></nb-icon>
        </div>
        <div class="space space-component5">
          <span class="text text-danger caption-2">Error</span>
          <span class="text1 text-danger caption">Error text</span>
        </div>
      </div>
      <div class="space space-component9">
        <div class="space space-component7">
          <nb-icon class="icon1 warning" icon="alert-circle"></nb-icon>
        </div>
        <div class="space space-component8">
          <span class="text2 text-warning caption-2">Warning</span>
          <span class="text3 text-warning caption">Warning text</span>
        </div>
      </div>
      <div class="space space-component12">
        <div class="space space-component10">
          <nb-icon class="icon2 info" icon="info"></nb-icon>
        </div>
        <div class="space space-component11">
          <span class="text4 text-primary caption-2">Info</span>
          <span class="text5 text-primary caption">Info text</span>
        </div>
      </div>
      <div class="space space-component15">
        <div class="space space-component13">
          <nb-icon class="icon3 success" icon="checkmark-circle-2"></nb-icon>
        </div>
        <div class="space space-component14">
          <span class="text6 text-success caption-2">Success</span>
          <span class="text7 text-success caption">Success text</span>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>